name: CI

on:
  push:
    branches: [main, dev]
    tags: ["v*"]
  pull_request:
    branches: [main]

jobs:
  library-ci:
    uses: minisource/.github/.github/workflows/library-ci.yml@main
    with:
      language: go
      go-version: "1.24"
    secrets: inherit
    permissions:
      contents: write
      packages: write
